@font-face {
	font-family:"Libre";
	src:url(Libre.otf) format("opentype");
}

@font-face {
	font-family:"OpenSans";
	src:url(OpenSans.ttf) format("truetype");
}

body {
	min-height:800px;
	font-size:16px;
    font-family:"OpenSans";
}

#backgroundDiv{

	background-image: url(Book_purpleflower.png);
	background-position: top center;
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: cover;

	position: fixed;
	top: 0px;
	left: 0px;

	margin-top: -50px;

	z-index: -2;

	height: 110%;
	width:150%;
}

#logo {
	position:absolute;
	top:-42px;
	left:calc(50% - 98px);
	height:198px;
	width:198px;
	background-image:url(LSP.png);
	background-size:165px 165px;
	background-color:#fff;
	border-radius:96px;
	background-position:16px 37px;
	background-repeat:no-repeat;
	z-index:2;
}

#circle {
	position:absolute;
	height:192px;
	width:192px;
	top:-32px;
	left:calc(50% - 96px);
	background-color:#fff;
	border-radius:96px;
	box-shadow:0 0 15px rgba(0,0,0,.1);
	z-index:-1;
}

#menu {
	list-style-type:none;
	background-color:#fff;
	position:absolute;
	top:0;
	padding:44px 0 68px;
	width:100%;
	margin-top:0;
	box-shadow:0 0 15px rgba(0,0,0,.1);
	z-index:-1;
}

#menu li {
	position:absolute;
	font-family:'Goudy Bookletter 1911',serif;
	font-size:20px;
	color:#222;
}

#menu li a {
	color:#000;
	text-decoration:none;
	background-color:#fff;
	padding:44px 20px 42px;
}

#menu li a:visited {
	color:#000;
}

#menu li:nth-child(1) {
	right:calc(50% + 224px);
}

#menu li:nth-child(2) {
	right:calc(50% + 128px);
}

#menu li:nth-child(3) {
	left:calc(50% + 128px);
}

#menu li:nth-child(4) {
	left:calc(50% + 214px);
}

#colcontainer {
	width:950px;
	max-width:95%;
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;
}

footer {
	color:#222;
	background-color:#fff;
	padding:15px;
	text-align:center;
	box-shadow:0 0 15px rgba(0,0,0,.1);
        clear: both;
}

.leftcol {
	width:62%;
}

.rightcol {
  width:33%;
  float: right;
}

#backgroundDiv{
	background-image: url(Book_purpleflower.png);
	background-position: top center;
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: cover;

	position: fixed;
	top: 0px;
	left: 0px;

	margin-top: -50px;

	z-index: -2;

	height: 110%;
	width:150%; 
}

.panel {
	box-shadow:0 3px 10px rgba(0,0,0,.8);
	border-radius:2px;
	padding: 5px 20px 5px 20px;
	background-color:#fff;
  margin-bottom: 22px;
}

.book-side .cover {
	width:60%;
	display:block;
	margin:15px auto;
	box-shadow:0 2px 5px rgba(0,0,0,.1);
	border-radius:2px;
}

.purchasebutton {
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#fce99d;
	border:1px solid #ad9948;
	border-radius:2px;
	box-shadow:0 2px 5px rgba(0,0,0,.1);
	padding:3px 8px;
}

.purchasebutton a {
	text-decoration:none;
	color:#000;
}

.purchasebutton:hover {
	background-color:#fff3c5;
	border:1px solid #e1ca6d;
}

.purchasebutton:active {
	background-color:#dcc772;
	border:1px solid #88762c;
}

.purchasebutton,
.purchasebutton:hover,
.purchasebutton a,
.purchasebutton a:hover,
.purchasebutton:active,
.purchasebutton a:active {
	cursor:pointer;
}

form {
	padding:3.5%;
}

.mailform input {
	width:100%;
	margin-bottom:10px;
}

.mailinputs {
	color:#999;
	font-style:italic;
}

.commentfield {
	padding-bottom:4em;
	width:100%;
}

@media (max-width: 750px) {
	#body {
		width:700px;
		font-size:18px;
	}

	#menu {
		padding:38px 0 74px;
	}

	#menu li {
		font-size:24px;
	}

	#menu li a {
		padding:42px 20px 36px;
	}

	#menu li:nth-child(1) {
		right:calc(50% + 235px);
	}

	#menu li:nth-child(4) {
		left:calc(50% + 235px);
	}

	.rightcol {
          width:100%;
          font-size:18px;
	}

        .leftcol {
          float: left;
        }

	.book-side img {
		width:20%;
		float:center;
                clear: right;
	}

	.book-side button {
		float: center;
		clear:left;
		margin-left:4%;
		/*margin-bottom:2%;*/
	}

        .book-side p {
          text-align: justify;
        }

	.rightcol h1 {
		display:block;
		font-size:22px;
		font-style:italic;
                text-align: center;
	}

	.leftcol {
		width:100%;
		font-size:18px;
	}
}

/*image styles*/
.full-width-img {
    width: 250px; 
    height: 250px;
    min-width: 150px;
    min-height: 150px;
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    margin-top: 20px;
}
.half-width-img {
	width:50%;
	display:block;
	margin:15px auto;
}

/*purchasebutton syles*/
.purchasebutton {
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#9E85AF;
	border:1px solid #9E85AF;
	border-radius:2px;
	box-shadow:0 2px 5px rgba(0,0,0,.1);
	padding:3px 8px;
     
}

.purchasebutton a {
	text-decoration:none;
	color:white;
}

.purchasebutton:hover {
	background-color:#7D5D94;
	border:1px solid #9E85AF;
}

.purchasebutton:active {
	background-color:#7D5D94;
	border:1px solid #9E85AF;
}

.purchasebutton,.purchasebutton:hover,.purchasebutton a,.purchasebutton a:hover,.purchasebutton:active,.purchasebutton a:active {
	cursor:pointer;
}

.publication {
  vertical-align: top;
  padding: 11px;
  margin-bottom: 17px;
  min-height: 272px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

.publication img {
  height: 250px;
}

.publication .img-right {
  float: right;
  margin-left: 11px;
}

.publication .img-left {
  float: left;
  margin-right: 11px;
}

.publication h3 {
  font-style: italic;
}

.publication .quote {
  font-style: italic;
}

.publication .purchasebutton {
  margin:0;
}

img{
	opacity: 1;
}

